.container {
  position: relative;
  margin: 0;
  padding: 0%;
  height: 100vh;
  width: 100%;
  background-color: #001220;
  color: white;
  overflow: hidden;
}
h1 {
  padding: 0%;
  margin: 0%;
}

.a-container {
  position: relative;
  top: 25%;
}
.a-title {
  position: relative;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 3.5em;
}

.a-section {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.a-info {
  margin-left: 6em;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px -5px 100px 30px rgba(0, 255, 255, 0.1);
  background-color: rgba(0, 37, 49);
  border-radius: 105px;
}
.a-line {
  justify-content: center;
  margin-top: 25px;
}
.g-statement {
  margin-top: 0;
}
.custom-shape-divider-top-1705127581 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.custom-shape-divider-top-1705127581 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 103px;
}

.custom-shape-divider-top-1705127581 .shape-fill {
  fill: #4f2382;
}

.custom-shape-divider-bottom-1705126715 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1705126715 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
}

.custom-shape-divider-bottom-1705126715 .shape-fill {
  fill: #003a55;
}
