html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  height: 100vh;
}

.preload {
  background-image: url("./linkedinpicture-min.jpg");
  width: 0;
  height: 0;
  overflow: hidden;
}
